{% for hw in homework %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right"><small>{{hw.tms}}</small></div>
            {% if hw.child == 0 %}
                Весь класс
            {% else %}
                {{ hw.students.names }}
            {% endif %}
        </div>
        <div class="panel-body">
            {{ hw.text | safe}}
        </div>
        {% if can_edit %}
            <div class="panel-footer">
                <a href="#edit" class="js-edit" data-id="{{ hw.id }}"><i class="fa fa-pencil"></i> редактировать</a>
                <a href="#delete" class="js-delete pull-right text-danger" data-id="{{ hw.id }}"><i class="fa fa-times"></i> удалить</a>
            </div>
        {% endif %}

    </div>

{% endfor %}